version: '2'
services:
  filebeat:
    image: ipunktbs/filebeat
    environment:
      HOSTURL: "${HOSTURL}"
      ENVIRONMENT: "${ENVIRONMENT}"
      PROTOCOL: "${PROTOCOL}"
    command: "--strict.perms=false -v -e -d autodiscover,docker"
    user: root
    stdin_open: true
    volumes:
    - /usr/share/filebeat/data:/usr/share/filebeat/data
    - /var/lib/docker/containers:/var/lib/docker/containers:ro
    - /var/run/docker.sock:/var/run/docker.sock
